
SECRET_KEY=your-secret-key-here
DEBUG=True


DB_NAME=linkup_db
DB_USER=root
DB_PASSWORD=admin123
DB_HOST=localhost
DB_PORT=3306

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_email_password


ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com